Repository simsany/js-webinar: changes, and which Jenkins stages are due for each by the changed paths.
All: module 1 tests, module 2 tests, module 3 tests, module 4 tests, module plus tests

module 1 tests:
              steps {
                 bat 'npm run test:module-1'
              }
          

module 2 tests:
              steps {
                 bat 'npm run test:module-2'
              }
          

module 3 tests:
              steps {
                 bat 'npm run test:module-3'
              }
          

module 4 tests:
              steps {
                 bat 'npm run test:module-4'
              }
          

module plus tests:
              steps {
                 bat 'npm run test:plus'
              }
          

jenkins
  Jenkinsfile
Due: none

jenkins
  module-1/classification.js
  module-2/calc.js
  module-4/arraySorted.js
Due: module 1 tests, module 2 tests, module 4 tests

jenkins
  Jenkinsfile
  module-1/classification.js
Due: module 1 tests

jenkins
  module-4/arraySum.js
Due: module 4 tests

jenkins
  module-1/classification.js
Due: module 1 tests

Path conditions:
  module 1 tests: any of: module-1/**
  module 2 tests: any of: module-2/**
  module 3 tests: any of: module-3/**
  module 4 tests: any of: module-4/**
  module plus tests: any of: plus/**
